.button:hover {
  background-color:green;
  border-color:blue;
  color: white;
}

body {
  background-image: url(https://lh3.googleusercontent.com/hVRqAxakyFQyzvFvYjrzl6sKeKGIujxapUwb0jE-s8Cy6A7mUYnuY3PbilbtpVbg4ggEeg=s85);
  height: 600px;
  background-position: left;
  background-repeat: no-repeat, repeat;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: maroon;
  }
}
@media only screen and (min-width: 200px) {
  body {
    background-color: gold;
  }
}

header{
   text-align: right;
    margin: 70px;
    border: 1px solid #4CAF50;
    height: 10%;
    width: 95%;
    font-style: italic;
    color: #29627e;
    background-color:#4CAF50;
}

div { text-align: right;
   
}

a{
  position: relative;
  animation: anima 5s 500;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes anima {
/*   start */
  0%   {left: 0px; top: 0px;}
/*   right */
  25%  {left: 50px; top: 0px;}
/*   down */
  50%  {left: 50px; top: 50px;}
/*   left */
  75%  {left: 0px; top: 50px;}
/*   up */
  100% {left: 0px; top: 0px;}
}
